<div class="container">

	<article>
		<header>
			<h1><%= @post.title %></h1>
			<p><time pubdate datetime="<%= @post.created_at %>"><%= time_ago_in_words(@post.created_at) %> ago</time></p>
		</header>
		<%= @post.content %>
	</article>

	<%= link_to 'Edit', edit_post_path(@post) if user_signed_in? %>
</div>
