<% title(@post.title) %>

<div class="container post-container">

	<article>
		<header>
			<h2><%= @post.title %></h2>
			<p><time pubdate datetime="<%= @post.created_at %>"><%= time_ago_in_words(@post.created_at) %> ago</time></p>
		</header>
		<%= raw @post.content %>
		<%= link_to 'Edit', edit_post_path(@post) if user_signed_in? %>
	</article>
	<div class="media author-box">
	  <div class="media-left">
	    <%= image_tag 'https://en.gravatar.com/userimage/4579125/3b06d543f5d0233f505d7cdb1f74c2e2.jpg', class:'media-object avatar' %>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">Nick Haskins</h4>
	    <p>Pimpin' pixels since birth. Built and sold a WordPress based business. <br />Now writes with Ruby on Rails. Lead dev at <%= link_to 'CC Cookie', 'https://cgcookie.com' %>.</p>
	  </div>
	</div>
</div>
<div class="bg-img" style="background-image:url(<%= @post.image_data unless @post.image_data.nil? %>);"></div>